/* Mobile */
@media (max-width: 576px){
    .for-desktop{
        display: none !important;
    }

    .mt-24px{
        margin-top: 24px;
    }
    .mt-20px{
        margin-top: 20px;
    }
    .mt-banner-image{
        margin-top: 56px;
    }
    .p-footer{
        padding: 24px 20px 30px 20px;
    }
    .px-std{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .anti-px-std-sm{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .sidenav svg{
        width: 16px;
        height: 16px;
    }
    .sidebar-menu span{
        font-size: 16px;
        line-height: 19.5px;
    }
    .searchbar.show{
        top: 55px;
    }
    .banner-trueve{
        font-size: 40px;
        line-height: 58px;
        padding: 35px 56px;
    }
    .product-card .btn-add-2-cart{
        opacity: 1;
        display: block !important;
    }
    .h-img-trueve-1{
        height: 360px;
    }
    .js-videoWrapper{
        height: 220px;
    }
    .sertified svg{
        width: 40px;
        height: 40px;
    }
    .img-explore-product{
        height: 230px;
    }
    .img-acheivement{
        width: 65px;
        height: 65px;
    }
    .input-subscribe{
        font-size: 14px;
        line-height: 17.07px;
    }

    /* Auto Slide Image */
    .img-overflow{
        position: relative;
        width: 100vw;
        min-width: 0;
        overflow: hidden;
    }
    
    .img-overflow img {
        position: relative;
        animation: leftright 3s infinite alternate ease-in-out;
    }
    
    @keyframes leftright {
        0%, 20% {
          transform: translateX(0%);
          left: 0%;
        }
        80%, 100% {
          transform: translateX(-100%);
          left: 100%;
        }
    }
    
    .img-banner{
        display: inline-block;
        height: 544px;
        width: max-content;
    }

    /* Text Banner Title */
    .banner-title{
        position: absolute;
        bottom: 24px;
        left: 20px;
        font-size: 36px;
        font-weight: 700;
        line-height: 43.88px;
        font-style: italic;
        background: var(--bg-primary-2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .banner-desc,
    .banner-explore,
    .banner-md-prev,
    .banner-md-next,
    .current-banner-page,
    .pages-divider,
    .total-pages{
        display: none;
    }
    .tnc-text span{
        opacity: .7;
    }
    .min-qty svg, .plus-qty svg{
        width: 16px;
        height: 16px;
    }
    .btn-add-2-cart-detail{
        padding-top: 12.5px !important;
        padding-bottom: 12.5px !important;
    }
    .mySwiper .swiper-slide {
        margin-top: 20px;
        height: 70%;
    }
    .wishlist-n-share svg{
        width: 24px;
        height: 24px;
    }
    .p-detail-rekomendasi{
        padding: 38px 20px 20px 20px
    }
    .formulasi-video{
        left: 20px !important;
        right: 20px !important;
        width: 90% !important;
    }
    .font-formulasi li{
        font-size: 14px;
        line-height: 19.84px;
    }
    .grad-line li:before{
        left: -190px !important;
        width: 190px !important;
    }
    .m-line{
        margin-left: -180px;
    }
}

/* Tablet */
@media (min-width: 577px){
    /* Font Size */
    .font-md-10{
        font-size: 10px;
    }
    .font-md-12{
        font-size: 12px;
    }
    .font-md-13{
        font-size: 13px;
        line-height: 15.85px;
    }
    .font-md-14{
        font-size: 14px;
        line-height: 17.07px;
    }
    .font-md-16{
        font-size: 16px;
        line-height: 19.5px;
    }
    .font-md-18{
        font-size: 18px;
    }
    .font-md-20{
        font-size: 20px;
        line-height: 31.04px;
    }
    .font-md-22{
        font-size: 22px;
    }
    .font-md-24{
        font-size: 24px;
        line-height: 29.26px !important;
    }
    .font-md-26{
        font-size: 26px;
    }
    .font-md-28{
        font-size: 28px;
        line-height: 43.46px;
    }
    .font-md-30{
        font-size: 30px;
    }
    .font-md-32{
        font-size: 32px;
        line-height: 47.01px !important;
    }
    .font-md-34{
        font-size: 34px;
    }
    .font-md-36{
        font-size: 36px;
    }
    .font-md-38{
        font-size: 38px;
    }

    .mt-md-24px{
        margin-top: 24px;
    }
    .mt-md-32px{
        margin-top: 32px;
    }
    .mt-md-40px{
        margin-top: 40px !important;
    }
    .mt-md-56px{
        margin-top: 56px !important;
    }
    .mt-md-64px{
        margin-top: 64px !important;
    }
    .mt-md-78px{
        margin-top: 78px !important;
    }
    .mt-md-80px{
        margin-top: 80px !important;
    }
    .mt-effect{
        margin-top: 168px !important;
    }
    .mt-banner-image{
        margin-top: 110px;
    }
    .mb-md-40px{
        margin-bottom: 40px !important;
    }
    .pt-md-40px{
        padding-top: 40px !important;
    }
    .pt-md-56px{
        padding-top: 56px !important;
    }
    .p-footer{
        padding: 40px 115px;
    }
    .px-std{
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .px-md-116px{
        padding-left: 116px !important;
        padding-right: 116px !important;
    }
    .anti-px-std-md{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .overflow-md-unset{
        overflow: unset !important;
    }
    .sidenav {
        width: 50vw;
        left: -50vw;
    }
    .sidebar-menu span, .menu-without-bg{
        font-size: 20px;
        line-height: 24.38px;
    }
    .sidenav svg{
        width: 20px;
        height: 20px;
    }
    .icon-sosmed-sidenav{
        left: 40px;
        right: 40px;
    }
    .trueve-content{
        padding-top: 88px;
    }
    .banner-trueve{
        font-size: 64px;
        line-height: 92.74px;
        padding: 72px 120px;
    }
    .banner-image-1{
        padding-top: 46px;
        padding-bottom: 46px;
    }
    .product-card .btn-add-2-cart{
        opacity: 0;
        transition: all .3s ease;
    }
    .product-card:hover .btn-add-2-cart,
    .product-card:focus .btn-add-2-cart{
        opacity: 1;
        display: block;
    }
    .h-img-trueve-1{
        height: 380px;
    }
    .js-videoWrapper{
        height: 470px;
    }
    .sertified svg{
        width: 72px;
        height: 72px;
    }
    .img-explore-product{
        height: 250px;
    }
    .input-subscribe{
        font-size: 16px;
        line-height: 19.5px;
    }
    .img-banner{
        height: 382px;
        width: 100%;
        object-fit: cover;
    }
    .img-banner-2{
        height: 216px;
    }
    /* Text Banner Title */
    .banner-title{
        position: absolute;
        top: 64px;
        left: 40px;
        font-size: 36px;
        font-weight: 700;
        line-height: 43.88px;
        font-style: italic;
        background: var(--bg-primary-2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .banner-desc{
        width: 347px;
        position: absolute;
        top: 168px;
        left: 40px;
        font-size: 14px;
        line-height: 21.73px;
    }
    .banner-explore{
        position: absolute;
        top: 230px;
        left: 40px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.5px;
        text-decoration: underline !important;
        text-transform: uppercase;
    }
    .banner-md-prev{
        position: absolute;
        left: 40px;
        bottom: 40px;
        transition: .25s;
    }
    .banner-md-next{
        position: absolute;
        left: 186px;
        bottom: 40px;
        transition: .25s;
    }
    .banner-md-prev:hover, .banner-md-prev:focus{
        transform: scale(.9);
        background: var(--bg-primary-1);
        padding: 8px;
        border-radius: 50%;
        left: 24px;
        bottom: 32px;
    }
    .banner-md-next:hover, .banner-md-next:focus{
        transform: scale(.9);
        background: var(--bg-primary-1);
        padding: 8px;
        border-radius: 50%;
        bottom: 32px;
    }
    .banner-md-prev svg,
    .banner-md-next svg{
        width: 28px;
        height: 28px;
    }
    .current-banner-page{
        position: absolute;
        left: 84px;
        bottom: 34px;
        font-size: 36px;
        font-weight: 600;
        line-height: 43.88px;
    }
    .pages-divider{
        position: absolute;
        left: 132px;
        bottom: 40px;
        font-size: 18px;
    }
    .total-pages{
        position: absolute;
        left: 150px;
        bottom: 40px;
        font-size: 18px;
    }
    .form-control.select-trueve{
        font-size: 20px;
        line-height: 24.38px;
        padding: 16px 12px;
    }
    .svg-jerawat,
    .svg-kering{
        width: 120px;
        height: 120px;
    }
    .btn-wishlist{
        position: absolute;
        top: 12px;
        right: 12px;
    }
    .btn-wishlist svg{
        width: 24px;
        height: 24px;
        fill: none;
    }
    .max-w-product-2{
        max-width: 224px;
    }
    .product-detail-title{
        font-size: 32px;
        line-height: 38.85px;
        height: 77.7px;
    }
    .select-variant label{
        padding: 16px 40px;
        font-size: 24px;
        line-height: 29.26px;
    }
    .min-qty svg, .plus-qty svg{
        width: 32px;
        height: 32px;
    }
    .btn-add-2-cart-detail{
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
    .min-qty{
        padding-left: 16px;
    }
    .plus-qty{
        padding-right: 16px;
    }
    .input-qty{
        font-size: 20px;
        line-height: 24.38px;
        padding: 14px 26px;
        width: 80px;
    }
    .mySwiper .swiper-slide {
        margin-top: 32px;
        height: 70%;
    }
    .wishlist-n-share svg{
        width: 40px;
        height: 40px;
    }
    .p-detail-rekomendasi{
        padding: 43px 24px 24px 24px
    }
    .bg-detail-rekomendasi{
        top: -24px;
    }
    .bg-formulasi{
        height: 473px;
    }
    .formulasi-video{
        left: 40px !important;
        right: 40px !important;
        width: 90% !important;
    }
    .formulasi-video-poster{
      width: 90%;
    }
    .img-formulasi{
        width: 132px;
        height: 132px;
    }
    .font-formulasi li{
        font-size: 20px;
        line-height: 31.04px;
    }
    .bg-detail-banner-1{
        height: 275px;
    }
    .bg-detail-banner-2{
        height: 368px;
    }
    .module-circle{
        width: 180px;
    }
    .w-h-circle{
        width: 180px;
        height: 180px;
    }
    .img-product-detail{
        height: 446px;
        margin-bottom: 0;
    }
    .m-line{
        font-size: 24px;
        line-height: 46.97px;
    }
    .quote-product blockquote{
        padding: 36px 43px;
        font-size: 24px;
        line-height: 29.09px;
    }
    .quote-open{
        top: -20px;
        left: 14px;
        height: 40px;
    }
    .quote-close{
        bottom: -20px;
        right: 14px;
        height: 40px;
    }
    .product-effect .product-effect-days{
        top: -84px;
        width: 139px;
        height: 131px;
    }
    .product-effect .days-number{
        top: -49px;
    }
    .product-effect .days-title{
        top: -6px;
        font-size: 20px;
        line-height: 24.24px;
    }
    .product-effect p:last-of-type{
        font-size: 24px;
        line-height: 29.09px;
        padding: 16px;
        padding-top: 67px;
    }
    .bg-detail-banner-2 p{
        right: 90px;
        font-size: 40px;
        line-height: 57.96px;
    }
    .instruction li {
        padding-left: 60px;
        font-size: 24px;
        line-height: 29.14px;
    }
    .instruction li:before {
        font-size: 36px;
        line-height: 43.7px;
    }
    .instruction li hr{
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .img-product-review{
        width: 100px;
        height: 100px;
        margin: 5px;
    }
    .see-all-img-review .see-all-border{
        top: 10px;
        right: -10px;
        bottom: -10px;
        left: 10px;
    }
    .see-all-img-review p{
        font-size: 14px;
    }
    .btn-outline-primary-1{
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
}
/* Tablet Max Resolution */
@media (max-width: 1024px){
    .for-desktop{
        display: none !important;
    }

    .tnc-text span{
        opacity: .7;
    }
}

/* Desktop */
@media (min-width: 1200px){
    .for-mobile{
        display: none;
    }
    .for-tablet{
        display: none;
    }


    /* Font Size */
    .font-lg-10{
        font-size: 10px;
    }
    .font-lg-12{
        font-size: 12px;
    }
    .font-lg-13{
        font-size: 13px;
        line-height: 15.85px;
    }
    .font-lg-14{
        font-size: 14px;
        line-height: 17.07px;
    }
    .font-lg-16{
        font-size: 16px;
        line-height: 19.5px;
    }
    .font-lg-18{
        font-size: 18px;
    }
    .font-lg-20{
        font-size: 20px;
        line-height: 30px;
    }
    .font-lg-22{
        font-size: 22px;
    }
    .font-lg-24{
        font-size: 24px;
    }
    .font-lg-26{
        font-size: 26px;
    }
    .font-lg-28{
        font-size: 28px;
        line-height: 43.46px;
    }
    .font-lg-30{
        font-size: 30px;
    }
    .font-lg-32{
        font-size: 32px;
        line-height: 47.01px !important;
    }
    .font-lg-34{
        font-size: 34px;
    }
    .font-lg-36{
        font-size: 36px;
        line-height: 43.88px !important;
    }
    .font-lg-38{
        font-size: 38px;
    }
    .font-lg-40{
        font-size: 40px;
        line-height: 57.96px !important;
    }
    .font-lg-42{
        font-size: 42px;
    }
    .font-lg-44{
        font-size: 44px;
    }
    .font-lg-46{
        font-size: 46px;
    }
    .font-lg-48{
        font-size: 48px;
        line-height: 58.51px;
    }
    .font-lg-56{
        font-size: 56px;
        line-height: 68.26px;
    }

    .fw-lg-600{
        font-weight: 600;
    }

    .mt-lg-0{
        margin-top: 0 !important;
    }
    .mt-lg-24px{
        margin-top: 24px !important;
    }
    .mt-lg-32px{
        margin-top: 32px !important;
    }
    .mt-lg-40px{
        margin-top: 40px !important;
    }
    .mt-lg-80px{
        margin-top: 80px !important;
    }
    .mt-lg-100px{
        margin-top: 100px !important;
    }
    .mt-lg-116px{
        margin-top: 116px !important;
    }
    .mt-lg-120px{
        margin-top: 120px !important;
    }
    .mt-effect{
        margin-top: 210px !important;
    }
    .mb-lg-24px{
        margin-bottom: 24px !important;
    }
    .mt-lg-40px{
        margin-top: 40px !important;
    }
    .mb-lg-40px{
        margin-bottom: 40px !important;
    }
    .mt-lg-64px{
        margin-top: 64px !important;
    }
    .ms-lg-72px{
        margin-left: 72px !important;
    }
    .mt-banner-image{
        margin-top: 64px;
    }
    .pt-lg-24px{
        padding-top: 24px !important;
    }
    .p-footer{
        padding: 64px 120px;
    }
    .px-std{
        padding-left: 120px !important;
        padding-right: 120px !important;
    }
    .w-lg-25{
        width: 25% !important;
    }
    hr.gradient {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .overflow-lg-hidden{
        overflow: hidden !important;
    }
    .navbar-dark.bg-trueve svg{
        width: 32px;
        height: 32px;
    }
    .trueve-content{
        padding-top: 138.83px;
    }
    .banner-trueve{
        padding: 72px 400px;
    }
    .h-img-trueve-1{
        height: 470px;
    }
    .js-videoWrapper{
        height: 550px;
    }
    .img-banner-2{
        height: 302px;
    }
    .img-explore-product{
        height: 410px;
    }
    .img-acheivement{
        width: 110px;
        height: 110px;
    }
    .form-control.select-trueve{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .input-subscribe{
        width: calc(100% - 34px);
        font-size: 20px;
        line-height: 24.38px;
    }
    .img-banner{
        height: calc(100vh - 138px);
    }
    /* Text Banner Title */
    .banner-title{
        top: 140px;
        left: 120px;
        font-size: 72px;
        line-height: 87.77px;
        width: 55%;
    }
    .banner-desc{
        top: 315px;
        left: 120px;
        width: 473px;
        font-size: 28px;
        line-height: 43.46px;
    }
    .banner-explore{
        top: 430px;
        left: 120px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.5px;
    }
    /* Banner Carousel Navigation  */
    .banner-md-prev{
        left: 120px;
    }
    .banner-md-next{
        left: 306px;
    }
    .banner-md-prev:hover, .banner-md-prev:focus{
        left: 104px;
    }
    .banner-md-prev svg,
    .banner-md-next svg{
        width: 32px;
        height: 32px;
    }
    .current-banner-page{
        left: 172px;
        bottom: 30px;
        font-size: 48px;
        line-height: 58.51px;
    }
    .pages-divider{
        left: 237px;
        font-size: 24px;
    }
    .total-pages{
        left: 257px;
        font-size: 24px;
    }
    
    .product-title{
        font-size: 20px;
        -webkit-line-clamp: 2;
        line-height: 24.28px;
        height: 48.56px;
    }
    .product-price{
        font-size: 24px;
        line-height: 29.14px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .svg-jerawat,
    .svg-kering{
        width: 180px;
        height: 180px;
    }
    .btn-wishlist{
        top: 15px;
        right: 15px;
    }
    .btn-wishlist svg{
        width: 32px;
        height: 32px;
    }
    .max-w-product-2{
        max-width: 304px;
    }
    .img-product-2{
        max-height: 304px;
    }
    .img-promo{
        width: 230px;
        height: 230px;
        object-fit: cover;
        border-radius: 8px;
        z-index: 2;
    }
    .btn-add-2-cart-detail{
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }
    .input-qty{
        font-size: 24px;
        line-height: 28px;
        padding: 24px 8px;
        width: 48px;
    }
    .p-detail-rekomendasi{
        padding: 67px 32px 32px 32px
    }
    .bg-detail-rekomendasi{
        top: -32px;
        padding: 16px 40px;
    }
    .formulasi-video{
        left: 120px !important;
        right: 120px !important;
        width: 83% !important;
    }
    .formulasi-video-poster{
        width: 83% !important;
    }
    .font-formulasi li{
        font-size: 28px;
        line-height: 43.46px;
    }
    .module-circle{
        width: 230px;
    }
    .w-h-circle{
        width: 230px;
        height: 230px;
        padding: 20px;
    }
    .grad-line{
        margin-top: 40px !important;
    }
    .grad-line li:before {
        left: -115px;
    }
    .img-product-detail{
        height: 600px;
    }
    .m-line{
        margin-left: -90px;
        font-size: 34px;
        line-height: 65.45px;
    }
    .quote-product blockquote{
        padding: 40px 120px;
        font-size: 36px;
        line-height: 43.64px;
    }
    .quote-open{
        top: -40px;
        left: 28px;
        height: 80px;
    }
    .quote-close{
        bottom: -40px;
        right: 28px;
        height: 80px;
    }
    .product-effect{
        min-height: 171px;
    }
    .product-effect span{
        font-size: 28px;
        line-height: 33.94px;
        padding: 32px;
        padding-top: 79px;
    }
    .bg-detail-banner-2{
        height: 390px;
    }
    .bg-detail-banner-2 p{
        right: 200px;
        font-size: 64px;
        line-height: 92.74px;
    }
    .instruction li {
        padding-left: 74px;
        font-size: 28px;
        line-height: 33.94px;
    }
    .instruction li hr{
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .btn-outline-primary-1{
        padding-top: 23px !important;
        padding-bottom: 23px !important;
    }
}

@media (min-width: 1920px){
    .img-promo{
        width: 260px;
        height: 260px;
    }
    .pe-8p{
        padding-right: 8% !important;
    }
}