@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root{
    --primary-1: #F44771 !important;
    --primary-1-2: #FD29B5 !important;
    --primary-2: #7A6CF2 !important;
    --bg-primary-1: linear-gradient(90.28deg, #F44771 -0.57%, #FD29B5 169.17%) !important;
    --bg-primary-2: linear-gradient(92.23deg, #F44771 21.43%, #BC36EE 50.63%, #9D7AFF 76.78%, #5C24FC 104.53%) !important;
    --bg-other: linear-gradient(92.79deg, #5C24FC -100.42%, #9D7AFF 107.51%) !important;
    --bg-dark-1: #181A20 !important;
    --bg-dark-2: #2B303E !important;
    --bg-dark-3: #494D5A !important;
    --bg-dark-4: #696D78 !important;
}

body{
    font-family: 'Montserrat', sans-serif !important;
    color: white !important;
    background-color: var(--bg-dark-1) !important;
}

a{
    color: unset !important;
    text-decoration: unset !important;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

.font-optima-bold{
    font-family: 'Optima Bold' !important;
}

.font-optima{
    font-family: 'Optima' !important;
}

/* Accordion Custom */
.accordion-button::after{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.myAccordion .accordion-button:not(.collapsed){
    border-bottom: 2px solid var(--primary-2);
}
.myAccordion{
    position: relative;
    color: white;
}
.accordion-border{
    position: absolute;
    overflow: visible;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    fill: none !important;
    stroke: url(#grad);
    stroke-width: 4px;
    z-index: -1;
    transition: all .25s ease-in-out;
}
.myAccordion .accordion-item:last-of-type, .accordion-item:last-of-type .accordion-button.collapsed, .accordion-body{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

/* Accordion Footer Custom */
.footerAccordion .accordion-item, .footerAccordion .accordion-button{
    background-color: transparent !important;
}

.footerAccordion .accordion-item{
    border: unset !important;
}

.footerAccordion .accordion-item:last-of-type, .footerAccordion .accordion-item:last-of-type .accordion-button.collapsed{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.footerAccordion .accordion-button{
    color: var(--primary-2) !important;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid #696D78 !important;
}

.footerAccordion .accordion-button:focus{
    outline: none !important;
    border-color: inherit !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.rounded-8{
    border-radius: 8px !important;
}

.rounded-10{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Font Size */
.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}
.font-13{
    font-size: 13px;
    line-height: 15.85px;
}
.font-14{
    font-size: 14px;
    line-height: 17.07px;
}
.font-16{
    font-size: 16px;
    line-height: 19.5px !important;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
    line-height: 31.04px;
}
.font-22{
    font-size: 22px;
}
.font-24{
    font-size: 24px;
}
.font-26{
    font-size: 26px;
}
.font-28{
    font-size: 28px;
}
.font-48{
    font-size: 48px;
    line-height: 58.51px;
}

/* Font Weight */
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}

/* Custom Margin & Padding */
.mt-24px{
    margin-top: 24px !important;
}
.mt-26px{
    margin-top: 26px !important;
}
.mt-40px{
    margin-top: 40px !important;
}
.mt-50px{
    margin-top: 50px !important;
}
.mt-60px{
    margin-top: 60px !important;
}
.mt-64px{
    margin-top: 64px !important;
}
.mt-effect{
    margin-top: 82px !important;
}
.mb-32px{
    margin-bottom: 32px !important;
}
.mb-44px{
    margin-bottom: 44px !important;
}
.ms-20px{
    margin-left: 20px !important;
}
.m-44px{
    margin: 44px 44px 40px 44px !important;
}
.pt-20px{
    padding-top: 20px !important;
}
.pt-26px{
    padding-top: 26px !important;
}
.pt-28px{
    margin-top: 28px !important;
}
.p-20px{
    padding: 20px !important;
}
.px-20px{
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.opacity-1{
    opacity: 1 !important;
}

.w-100-45vw{
    width: calc(100% - 45vw) !important;
}

.h-sm-300px{
    height: 300px;
}

.bg-trueve{
	background-color: var(--bg-dark-1) !important;
}

.bg-dark-2{
    background-color: var(--bg-dark-2) !important;
}

.bg-dark-3{
    background-color: var(--bg-dark-3) !important;
}

.bg-primary-1{
    background: var(--bg-primary-1);
}

.text-primary-2{
    color: var(--primary-2) !important;
}

.overflow-sm-auto{
    overflow: auto;
}

.overflow-x-sm-auto{
    overflow-x: auto;
}

.banner-promo{
    position: relative;
    padding: 20px 0;
}

.banner-image-1{
    background-image: url('../img/bg-image-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 16px 20px;
}

.banner-gradient{
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 145px;
    background: var(--bg-primary-2);
    z-index: -1;
}

.banner-gradient-2{
    position: absolute;
    height: 264px;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    background: var(--bg-primary-2);
    z-index: -1;
}

.badge-trueve{
    background: var(--bg-primary-2);
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
    z-index: 1;
}

.breadcrumb-item a:hover span{
    color: var(--primary-2);
}

.btn-add-2-cart{
    display: block !important;
}

.btn-wishlist{
    z-index: 2;
}

.btn-outline-primary-1{
    background: transparent;
    border: 2px solid var(--primary-1) !important;
    border-radius: 8px !important;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    transition: all .3s ease-in-out;
}

.btn-outline-primary-1:hover{
    background: var(--bg-primary-1);
}

.btn-primary-2{
    background-color: var(--primary-2) !important;
    border-radius: 8px !important;
    color: white !important;
    text-align: center !important;
    transition: all .3s ease;
}

.btn-primary-2:hover{
    background-color: transparent !important;
    border: 1px solid var(--primary-2) !important;
    color: var(--primary-2) !important;
}

.trueve-content{
    padding-top: 50px;
}

.navbar-dark.bg-trueve svg{
    width: 24px;
    height: 24px;
}

.banner-group{
    position: relative;
}

.banner-trueve{
    position: relative;
    display: block;
    background-image: url('../img/bg-image-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Optima';
    font-weight: 700;
    text-shadow: 0px -1px 12px rgba(255, 255, 255, 0.8);
}

.banner-button{
    position: absolute;
    bottom: 24px;
    right: 20px;
}

.banner-progress-bar{
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #696D78;
}

.banner-progress{
    height: 4px;
    position: absolute;
    bottom: 0;
    background: var(--bg-primary-2);
}

.img-logo{
    height: 37px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.img-overflow{
    position: relative;
}

.img-banner-2{
    height: 140px;
    width: 100%;
    object-fit: cover;
}

.img-product{
    border-radius: 8px;
    max-height: 188px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: unset;
  	filter: unset;
    -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(0,0,0,0.25) 0%, transparent 40%, transparent 100%);
    z-index: 1;
    transition: all .25s ease;
}

.img-product-2{
    border-radius: 8px;
    max-height: 224px;
}

.img-product-detail{
    border-radius: 8px;
    height: 320px;
    margin-bottom: 40px;
}

.img-product-review{
    width: 63px;
    height: 63px;
    object-fit: cover;
    border: 1px solid var(--primary-2);
    border-radius: 8px;
    margin: 8px;
}

.see-all-img-review{
    display: inline-block;
    margin: 8px;
}

.see-all-img-review .see-all-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-2);
    border-radius: 8px;
    opacity: .68;
}

.see-all-img-review .see-all-border{
    position: absolute;
    top: 8px;
    right: -6px;
    bottom: -6px;
    left: 8px;
    border: 1px solid var(--primary-2);
    border-radius: 8px;
    z-index: -1;
}

.see-all-img-review p{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

.img-promo{
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 8px;
}

.img-product-accordion{
    width: 132px;
    height: 132px;
    object-fit: cover;
    border-radius: 8px;
}

.img-explore-product{
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;    
}

.img-formulasi{
    width: 72px;
    height: 72px;
    border: 1px solid var(--primary-2);
    border-radius: 50%;
    box-shadow: 0px -1px 12px 0px #FB37FFD6;
}

/* Product Detail Image Slider */
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 25%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    margin-top: 24px;
    height: 138px;
    background: var(--bg-dark-1);
    object-fit: cover;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.mySwiper .swiper-slide-thumb-active img {
    padding: 6px;
    border: 1px solid var(--primary-2) !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* end of image slider */

.promo-slider{
    margin: 20px;
}

.product-card{
    margin: 0 20px;
}

.product-card:hover .module-border,
.product-card:focus .module-border{
    opacity: 1;
}

.product-card:hover .img-product,
.product-card:focus .img-product{
    -webkit-filter: drop-shadow(0 0 45px #FF26C2);
  	filter: drop-shadow(0 0 45px #FF26C2);
}

.product-title{
    font-family:'Optima Bold' !important;
    text-align: center;
    font-size: 14px;
    width: 190px;
    -webkit-line-clamp: 2;
    line-height: 17px;
    height: 34px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: auto;
    margin-right: auto;
}

.product-title-2{
    font-family:'Optima Bold' !important;
    text-align: center;
    font-size: 20px;
    width: 200px;
    -webkit-line-clamp: 2;
    line-height: 27.88px;
    height: 55.76px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: auto;
    margin-right: auto;
}

.product-detail-title{
    font-family:'Optima Bold' !important;
    font-size: 20px;
    width: 100%;
    -webkit-line-clamp: 2;
    line-height: 24.28px;
    height: 48.56px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price{
    font-family:'Optima Bold' !important;
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}

.select-variant input[type='radio']{
    display: none;
}
.select-variant label{
    cursor: pointer;
    padding: 8px 28px;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
    border: 2px solid #696D78;
    border-radius: 8px;
}
.select-variant label:hover, .select-variant input[type='radio']:checked + label{
    border-color: var(--primary-2);
}

.min-qty{
    background: transparent !important;
    border: 2px solid;
    border-right: 0 !important;
    border-color: var(--primary-1);
    border-radius: 8px 0 0 8px;
    padding-left: 14px;
}

.plus-qty{
    background: transparent !important;
    border: 2px solid;
    border-left: 0 !important;
    border-color: var(--primary-1);
    border-radius: 0 8px 8px 0;
    padding-right: 14px;
}

.input-qty{
    background: transparent;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid;
    border-right: 0;
    border-left: 0;
    border-color: var(--primary-1);
    padding: 12px 8px;
    width: 26px;
    text-align: center;
}

.form-control.select-trueve{
	color: white !important;
	background: transparent !important;
	border: 2px solid var(--primary-2);
	border-radius: 8px;
    padding: 13px 12px 11px 12px;
	font-size: 14px;
	font-weight: 600;
	line-height: 17.07px;
    margin-bottom: 35px;
}

.form-control.select-trueve option{
	color: var(--primary-2);
}

.input-subscribe{
    width: 65%;
    background-color: transparent;
    color: white;
    font-weight: 500;
    padding: 10px 12px !important;
    border: 2px solid var(--primary-2);
    border-right: none;
    border-radius: 8px 0 0 8px;
}

.input-subscribe:focus{
    outline: none;
}

.input-subscribe::placeholder{
    color: rgba(255, 255 , 255, 70%);
    font-weight: 400;
}

.submit-subscribe{
    background-color: transparent;
    border: 2px solid var(--primary-2);
    border-radius: 0 8px 8px 0;
    border-left: none;
    padding-bottom: 4px;
    transition: .3s ease;
}

.submit-subscribe:hover{
    background-color: var(--primary-2);
}

.bg-detail-rekomendasi{
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 32px;
    text-align: center;
    white-space: nowrap;
    background: var(--bg-primary-2);
    border-radius: 8px;
    z-index: 2;
}

.bg-formulasi{
    background: var(--bg-other);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 221px;
    z-index: -1;
}

.bg-detail-banner-1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('../img/bg-detail-banner-1.png');
    background-size: cover;
    width: 100%;
    height: 130px;
    z-index: -1;
}

.bg-detail-banner-2{
    background-image: url('../img/bg-detail-banner-2.png');
    background-size: cover;
    background-position: center;
    height: 172px;
    z-index: -1;
}

.quote-product blockquote{
    padding: 22px 25px;
    font-family: 'Optima';
    font-size: 16px;
    line-height: 19.39px;
    margin-bottom: 0;
}

.quote-open{
    position: absolute;
    top: -12px;
    left: 8px;
    height: 24px;
}

.quote-close{
    position: absolute;
    bottom: -12px;
    right: 8px;
    height: 24px;
}

.product-effect .product-effect-days{
    position: absolute;
    top: -49px;
    left: 50%;
    transform: translateX(-50%);
    width: 102px;
    height: 96px;
    -webkit-filter: drop-shadow(0 0 16px #FB37FF);
    filter: drop-shadow(0 0 16px #FB37FF);
    z-index: 1;
}

.product-effect .days-number{
    position: absolute;
    top: -29px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    font-weight: 600;
    line-height: 43.88px;
    color: var(--bg-dark-1);
    margin-bottom: 0;
    z-index: 2;
}

.product-effect .days-title{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Optima';
    font-size: 14px;
    line-height: 16.97px;
    color: var(--bg-dark-1);
    margin-bottom: 0;
    z-index: 2;
}

.product-effect p:last-of-type{
    font-family: 'Optima';
    font-size: 14px;
    line-height: 16.97px;
    text-align: center;
    padding: 12px;
    padding-top: 67px;
    margin-bottom: 0;
}

.bg-detail-banner-2 p{
    position: absolute;
    top: 50%;
    right: 42px;
    transform: translateY(-50%);
    font-family: 'Optima';
    font-size: 19px;
    font-weight: 700;
    line-height: 27.53px;
    text-shadow: 0px -1px 12px rgba(255, 255, 255, 0.8);
}

.instruction ol {
    counter-reset: items;
    padding-left: 0;
    margin-bottom: 0;
}

.instruction li {
    position: relative;
    display: block;
    counter-increment: items;
    padding-left: 44px;
    font-family: 'Optima';
    font-size: 16px;
    line-height: 19.42px;
}

.instruction li:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "0" counter(items);
    font-family: 'Optima';
    font-size: 24px;
    font-weight: 700;
    line-height: 29.14px;
}

.instruction li:nth-child(n+10):before {
    content: counter(items);
}

.instruction li hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

.instruction li:last-child hr {
    display: none;
}

.banner-promo-reflection{
	background: var(--bg-primary-2);
	opacity: 0.4;
	filter: blur(40px);
	border-radius: 45px;
	height: 70px;
	display: block;
	width: 100%;
	position: relative;
	z-index: -1;
	top: 0;
}

hr.gradient {
    height: 2px !important;
    background-image: var(--bg-primary-2);
    border: 0;
    border-radius: 50px;
    z-index: 1;
    margin-top: 32px;
    margin-bottom: 32px;
    opacity: 1 !important;
}

hr.gradient-2{
	height: 4px !important;
	background-image: linear-gradient(92.79deg, #5C24FC -100.42%, #9D7AFF 107.51%);
	border: 0;
	z-index: 1;
	margin: 0;
    opacity: 1 !important;
}

hr.gradient-3{
	height: 8px !important;
	background-image: linear-gradient(92.79deg, #5C24FC -100.42%, #9D7AFF 107.51%);
	border: 0;
	z-index: 1;
	margin: 0;
    opacity: 1 !important;
}

hr.gradient-dark-2{
	height: 8px !important;
	background: var(--bg-dark-3);
	border: 0;
	z-index: 1;
	margin: 0;
    opacity: 1 !important;
}

.cart-counter{
    font-size: 12px;
    padding: 0;
	position: absolute;
	bottom: -10px;
	right: -8px;
}

footer{
    background-color: var(--bg-dark-1) !important;
    z-index: 1 !important;
}

.t-m-footer{
	font-size: 16px;
	font-weight: 600;
	line-height: 19.5px;
	color: #fff;
    white-space: nowrap;
}

.t-m-footer:hover p{
	color: var(--primary-2);
	text-decoration: none;
}

.tnc-text:hover span{
    color: var(--primary-2);
}

.sidebar-menu{
    padding: 43px 32px;
}

.menu-without-bg{
    margin-top: 16px;
    font-size: 14px;
    line-height: 17.07px;
    color: white;
}

.menu-1{
    background-image: url("../img/sidenav-bg-1.jpg");
    background-size: cover;
}
.menu-2{
    background-image: url("../img/sidenav-bg-2.jpg");
    background-size: cover;
}
.menu-3{
    background-image: url("../img/sidenav-bg-3.jpg");
    background-size: cover;
}
.menu-4{
    background-image: url("../img/sidenav-bg-4.jpg");
    background-size: cover;
}

.sidebar-overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, .4);
}

.svg-jerawat{
    width: 78px;
    height: 78px;
    -webkit-filter: drop-shadow(0 0 16px #FB37FF);
    filter: drop-shadow(0 0 16px #FB37FF);
}
.svg-kering{
    width: 78px;
    height: 78px;
    -webkit-filter: drop-shadow(0 0 16px #5B1ED0);
    filter: drop-shadow(0 0 16px #5B1ED0);
}

.icon-sosmed svg.instagram{
    -webkit-filter: drop-shadow(0 0 16px #FF26C2);
  	filter: drop-shadow(0 0 16px #FF26C2);
}
.icon-sosmed svg.facebook{
    -webkit-filter: drop-shadow(0 0 16px #3F3EE3);
  	filter: drop-shadow(0 0 16px #3F3EE3);
}
.icon-sosmed svg.tiktok{
    -webkit-filter: drop-shadow(0 0 16px #25F4EE);
  	filter: drop-shadow(0 0 16px #25F4EE);
}
.icon-sosmed svg.youtube{
    -webkit-filter: drop-shadow(0 0 16px #FE2C55);
  	filter: drop-shadow(0 0 16px #FE2C55);
}
.icon-sosmed svg.tokopedia{
    -webkit-filter: drop-shadow(0 0 16px #50E577);
  	filter: drop-shadow(0 0 16px #50E577);
}
.icon-sosmed svg.shopee{
    -webkit-filter: drop-shadow(0 0 16px #FF6600);
  	filter: drop-shadow(0 0 16px #FF6600);
}

.icon-sosmed-sidenav{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
}

.icon-sosmed-sidenav svg{
    width: 36px !important;
    height: 36px !important;
}

/* Searchbar */
.searchbar{
    position: fixed;
    right: 0;
    left: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--bg-dark-1);
    opacity: 0;
    transition: all .3s ease-in-out;
}
.searchbar.show{
    top: 88px;
    opacity: 1;
    z-index: 1031 !important;
}

/* Topbar Desktop Menu */
.desktop-topbar-menu{
    display: flex;
    justify-content: center;
    background-color: var(--bg-dark-1);
    top: 91px !important;
}
.desktop-topbar-menu .nav-link{
    padding-bottom: 16px !important;
    font-size: 16px;
    font-weight: 600;
    transition: .5s;
}
.desktop-topbar-menu .nav-link.active,
.desktop-topbar-menu .nav-link:hover
{
	background: var(--bg-primary-2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px;
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -250px;
    background-color: var(--bg-dark-1); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav.show{
    left: 0;
    border-width: 3px;
    border-style: solid;
    border-left:0;
    border-image: linear-gradient(290deg, #F44771, #BC36EE, #9D7AFF, #5C24FC) 10% 10% 10% 100%;
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Border Circle + Gradient */
.w-h-circle{
    display: flex;
    width: 100px;
    height: 100px;
    padding: 12px;
}

/* Gradient Border */
.module{
    width: 230px;
    min-height: 350px;
    position: relative;
    color: white;
    padding: 14px 12px;
}
.module-2{
    position: relative;
    color: white;
}
.module-circle{
    position: relative;
    color: white;
    width: 100px;
    border-radius: 50%;
    background: var(--bg-dark-3);
}
.module-border{
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: none !important;
    stroke: url(#grad);
    stroke-width: 2px;
    z-index: -1;
    opacity: 0;
    transition: all .25s ease-in-out;
}
.module-border-circle{
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: none !important;
    stroke: url(#grad);
    stroke-width: 2px;
    z-index: -1;
    transition: all .25s ease-in-out;
}
#grad stop:nth-child(1) {
    stop-color: #FD29B5;
}
#grad stop:nth-child(2) {
    stop-color: #BC36EE;
}
#grad stop:nth-child(3) {
    stop-color: #9D7AFF;
}
#grad stop:nth-child(4) {
    stop-color: #5C24FC;
}

/* li gradient line */
.grad-line{
    margin-top: 14px !important;
}
.grad-line li {
    list-style:none;
}

.grad-line li:before {
    content: "";
    position:relative;
    left: -170px;
    background: var(--bg-primary-2);
    display:inline-block;
    width:190px;
    height:4px;
    z-index: -1;
}

.m-line{
    margin-left: -158px;
    font-family: 'Optima';
    font-size: 14px;
    line-height: 16.97px;
}